<ActionBar class="action-bar">
        <!-- 
        Use the NavigationButton as a side-drawer button in Android because ActionItems are shown on the right side of the ActionBar
        -->
        <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
        <!-- 
        Use the ActionItem for IOS with position set to left. Using the NavigationButton as a side-drawer button in iOS is not possible, because its function is to always navigate back in the application.
        -->
        <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
            ios.position="left">
        </ActionItem>
        <Label class="action-bar-title" text="Home"></Label>
    </ActionBar>
    
    <!--
    RadSideDrawer is a UI component part of the Progress NativeScript UI set of components.
    Learn more about the RadSideDrawer UI component and how it can be customized in this documentation article:
    http://docs.telerik.com/devtools/nativescript-ui/Controls/Angular/SideDrawer/getting-started
    The RadSideDrawer component is designed to be used as a root element and
    it shouldn't have any other siblings other than the <ActionBar> component.
    -->
    <RadSideDrawer #drawer showOverNavigation="true" [drawerTransition]="sideDrawerTransition">
        <!--
        Use the tkDrawerContent directive to display the content of the app drawer on this page.
        -->
        <StackLayout tkDrawerContent>
            <MyDrawer [selectedPage]="'Home'"></MyDrawer>
        </StackLayout>
        
        <!--
        Use the tkMainContent directive to display the content of the page when you have an app drawer.
        -->
        <GridLayout class="page background page-content" tkMainContent>
            <StackLayout class="form login-form">
                <GridLayout class="input-field group-input" rows="30" columns="50,250">
                        <Label  class="group-input-icon lnr"  [text]="'lnr-user' | fonticon " row="0" col="0"></Label>    
                        <TextField  hint="Email Address" keyboardType="email" id="email" class="form-controls input" style='border-bottom:none' row="0" col="1" ></TextField> 
                </GridLayout>
                <StackLayout  class="hr-light m-b-30"></StackLayout>                                                                
                <GridLayout class="input-field group-input" rows="30" columns="50,250">
                        <Label  class="group-input-icon lnr"  [text]="'lnr-lock' | fonticon" row="0" col="0"></Label>    
                        <TextField id="password" keyboardType="email" hint="Password" secure="true" class="form-controls input" row="0" col="1" ></TextField> 
                </GridLayout>
                <StackLayout  class="hr-light m-b-30"></StackLayout>                                                            
                <StackLayout class="form-button">
                        <Button class="btn btn-primary" (tap)="submit()" text="Sign In"></Button>
                </StackLayout>           
        </StackLayout>
        </GridLayout>
    </RadSideDrawer>